/* styles.css */

*html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    object-fit: contain;
}

.coin-list {
  display: flex;
  flex-wrap: wrap;
}

.coin {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 200px;
}

.controls {
  margin-bottom: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Smooth scrolling for a better user experience */
.hide-scrollbar {
    -webkit-overflow-scrolling: touch;
}
